<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
<div class="card">
    <div class="card-body">
        <div class="col-md-4 offset-md-4 mt-4">
            <h4>Add Posts</h4>
            <form #addedContracts='ngForm' (ngSubmit)='addContract(addedContracts)'>
                <div class="form-group">
                    <label for="userId">User Id</label>
                    <input type="text" name="userId" id="userId"
                    #contractId='ngModel' ngModel class="form-control" required placeholder="Enter your Id">
                </div>

                <div class="form-group">
                    <label for="Id">Id</label>
                    <input type="text" name="Id" id="Id"
                    #customerId='ngModel' ngModel class="form-control" required placeholder="Enter Id">
                </div>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title"
                    #productId='ngModel' ngModel class="form-control" required placeholder="Enter Title">
                </div>

                <div class="form-group">
                    <label for="body">Body</label>
                    <input type="text" name="body" id="body"
                    #haulierId='ngModel' ngModel class="form-control">
                </div>

                <button type="submit" class="btn btn-outline-primary float-right">
                    Submit
                </button>

            </form>
        </div>
    </div>
</div>


